* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(121, 118, 127, 0.5);
    color: rgba(210, 210, 210, 1);
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#disk,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    border: 1px solid #181825;
    border-radius: 10px;
}

#cpu {
    color: #ff6933;
}

#memory {
    color: #fad074;
}

#disk {
    color: #ffa570;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
    margin-left: 10px;
}

#custom-updates {
    color: #f5c2e7;
}

#clock {
    color: #fab387;
    margin-right: 10px;
}

#network {
    color: #f9e2af;
}

#pulseaudio {
    color: #89b4fa;
    padding-right: 20px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    padding-right: 15px;
}

#battery {
    color: #a6e3a1;
}

#custom-weather {
    color: #fab387;
}